body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: aliceblue;
  }


  h1,.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: green;
    font-size: 100px;
  }


  h2{
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Palatino, URW Palladio L, serif;
    font-variant: small-caps; 
    font-size: 60px;
    text-align: center;

  } 
  
  p{
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Palatino, URW Palladio L, serif;
    font-variant: small-caps; 
    font-size: xx-large;

  }
  header, main, footer {
    padding: 40px;
  }
  

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  .img1{
  width: 450px;
  height: 400px;
  }

  .logo{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  h3{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:left;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
  }

  h4{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:left;
    font-family: 'Courier New', Courier, monospace;
    font-size:20px;    
  }

  h5{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:left;
    font-family: 'Courier New', Courier, monospace;
    font-size:20px;
  }


  div {
    display: flex;
    justify-content: start;
  }

  .img4{
    width: 400px;
    height: 400px;
    margin: 100px;
  }

  .img5{
    width: 600px;
    height: 400px;
    margin: 100px;
  }

  .img6{
    width: 400px;
    height: 400px;
    margin: 100px;    
  }
  
form{
  display: flex;
  flex-direction: column;
  justify-content:baseline;
  font-size: 20px;
}

label {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}


  
