body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: aliceblue;
  }


  h1,.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: green;
    font-size: 100px;
  }


  h2, p{
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Palatino, URW Palladio L, serif;
    font-variant: small-caps; 
    font-size: xx-large;

  }
  header, main, footer {
    padding: 60px;
  }
  

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  .img1{
  width: 400px;
  height: 400px;
  }

  .logo{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }


  
  /* Styles pour les écrans de moins de 768 pixels */
  
  @media screen and (max-width: 767px) {
    header {
      text-align: center;
    }
    
    nav li {
      margin: 10px 0;
      display: flex;
    }
  }
  
  /* Styles pour les écrans de 768 à 1024 pixels */
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    header {
      display: flex;
      justify-content: space-between;
    }
    
    nav ul {
      flex-direction: row;
    }
    
    nav li {
      margin: 0;
    }
  }
  
  /* Styles pour les écrans de plus de 1024 pixels */
  
  @media screen and (min-width: 1025px) {
    main {
      display: flex;
      justify-content: space-between;
    }
    
    section {
      flex-basis: 48%;
    }
  }
  
